# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
debug
release
utest
base85

# debug information files
*.dwo

# Generated dependency files
*.hdrdep.bak

# IDE files
.idea/

# Local test artifacts
random.bin
random.bin.test
random.b85
random.b85.test
